@{ Layout = null;
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="-/liЬ/bootstrap/dist/css/bootstrap.css" />
        <title>Error</title>
    </head>
    <body>
        <h2 class="text-danger">Error.</h2>
        <hЗ class="text-danger">An error occurred while processing your request .</hЗ>
    </body>
</html>
